rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    // Redeyploy tətiyi üçün vaxt möhürü: 2024-05-21 21:00
    // Heç bir autentifikasiya tələb olunmadan bütün bazaya tam oxuma və yazma icazəsi verilir.
    
    match /{document=**} {
      allow read, write: if true;
    }
  }
}