
rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    // Sınaq mərhələsində olduğumuz üçün bütün bazaya tam oxuma və yazma icazəsi verilir.
    // Bu, həm daxil olan, həm də anonim istifadəçilər üçün keçərlidir.
    match /{document=**} {
      allow read, write: if true;
    }

    // Əsas kolleksiyalar üçün aşkar icazələr (Redeploy trigger)
    match /exams/{examId} {
      allow read, write: if true;
    }
    match /studentAttempts/{attemptId} {
      allow read, write: if true;
    }
    match /appeals/{appealId} {
      allow read, write: if true;
    }
    match /accessCodes/{codeId} {
      allow read, write: if true;
    }
  }
}
