rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {

    // --- GLOBAL HELPER FUNCTIONS ---

    function isSignedIn() {
      return request.auth != null;
    }

    function isAdmin() {
      return isSignedIn() && exists(/databases/$(database)/documents/roles_admin/$(request.auth.uid));
    }

    // --- TEST RULES ---
    match /test_messages/{id} {
      allow create: if true; // Test üçün hər kəsə icazə veririk
      allow read: if isAdmin();
    }

    // --- COLLECTION RULES ---

    match /roles_admin/{adminUid} {
      allow get: if isSignedIn();
      allow list: if isAdmin();
      allow create, update, delete: if false; 
    }

    match /exams/{examId} {
      allow get, list: if isAdmin();
      allow create, update, delete: if isAdmin();

      match /questions/{questionId} {
        allow get, list: if isAdmin();
        allow create, update, delete: if isAdmin();

        match /multipleChoiceOptions/{optionId} {
          allow get, list: if isAdmin();
          allow create, update, delete: if isAdmin();
        }
        
        match /openEndedCorrectAnswer/{id} {
          allow get, list: if isAdmin();
          allow create, update, delete: if isAdmin();
        }

        match /explanationQuestionCriteria/{id} {
          allow get, list: if isAdmin();
          allow create, update, delete: if isAdmin();
        }
      }

      match /accessCodes/{accessCodeId} {
        allow get: if isSignedIn();
        allow update: if isSignedIn() && resource.data.isUsedForEntry == false;
        allow list, create, delete: if isAdmin();
      }
    }

    match /studentAttempts/{studentAttemptId} {
      function isStudentOwner(data) {
        return isSignedIn() && data.studentAuthUid == request.auth.uid;
      }
      
      allow get, list: if isAdmin() || isStudentOwner(resource.data);
      allow create: if isSignedIn() && request.resource.data.studentAuthUid == request.auth.uid;
      allow update: if isAdmin() || (isStudentOwner(resource.data) && request.resource.data.studentAuthUid == resource.data.studentAuthUid);
      allow delete: if isAdmin();

      match /questions/{questionId} {
        allow get, list: if isAdmin() || isStudentOwner(get(/databases/$(database)/documents/studentAttempts/$(studentAttemptId)).data);
        allow create, update, delete: if isAdmin();

        match /multipleChoiceOptions/{optionId} {
          allow get, list: if isAdmin() || isStudentOwner(get(/databases/$(database)/documents/studentAttempts/$(studentAttemptId)).data);
          allow create, update, delete: if isAdmin();
        }
      }

      match /studentAnswers/{studentAnswerId} {
        allow get, list: if isAdmin() || isStudentOwner(resource.data);
        allow create: if isSignedIn() && request.resource.data.studentAuthUid == request.auth.uid;
        allow update: if isAdmin() || (isStudentOwner(resource.data) && request.resource.data.studentAuthUid == resource.data.studentAuthUid);
        allow delete: if isAdmin();
      }
    }
  }
}
